/*  -- slider CSS -- */

.slider
{
    
    margin-left: 15%;
    padding: 0 10px;
}
.carousel-item img {
    height: 600px !important;
    width: 100% !important;
}
.carousel
{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators
{
    z-index: 1 !important;
}

@media only screen and (max-width: 980px)
{
    .slider
    {
        width: 100%;
        margin-left: 0;
    }
}


/* -- featured-categories CSS  -- */

.featured-categories
{
    margin: 50px 0;
}
.featured-categories img
{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover
{
    transform: scale(1.1);
}
